@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* set default namespace to XUL */


/* =======  install this in your profile folder under '../chrome/userChrome.css'

* http://www.colorpicker.com/   useful to pick a color
* */


/* ********** Thunderbird TEST **************** */
/* Make unread messages blue and italic */
treechildren:-moz-tree-cell-text(unread) {
    color: #00008B !important;  /*blue4*/
    font-style: italic !important;
}

/* Folder pane(color/text) and Message pane(color) */
/*treechildren {
    background-color: red !important;
}*/




/* ************ RemindrFox changes **************** */

/* ---  calendar/month selectors background --- */
#rmFx-calendar-yearMonth-controls-box {
	background-color: #ADADFF !important;
}

/* ---  week header label background  --- */
.reminderfox-calendar-week-number-box-class {
	background-color: #DBDBFF !important;
}
	.reminderfox-calendar-week-number-box-class:hover {
		background-color: #C8C8E6 !important;
	}

/*  ---  month grid with days   ---  */
.rmFx-calendar-month-title {
	background-color: #ccccff !important;
	color: black  !important;
}
	.rmFx-calendar-month-title:hover {
		background-color: #BEBEED  !important;
	}

	.rmFx-calendar-month-day-number-class[selected="true"] {
		background-color: #6699CC !important;
	}

	.rmFx-calendar-month-day-box-class:hover {
		background-color: #C9E8F1 !important;
	}


/* date boxes with reminders as yellow */
.rmFx-calendar-month-day-box-class[reminder="true"] {
	background-color: #FFFF99 !important;
}

/* completed reminders as light-grey  */
.rmFx-calendar-month-day-box-class[completedReminder="true"] {
	background-color: #DBDBDB !important;
}


/* --- Day Panel ttt ----  */
.rmFx_dayPanelDayBox { 
	background-color: #55aa11  !important;
	.rmFx_dayPanelDayBox:hover {
		background-color: #99FFCC !important;
	}

.rmFx_dayPanelEvent {
	background-color: #CCFFFF !important;
	}
	.rmFx_dayPanelEvent:hover {
		background-color: #99FFCC !important;
	}

	
	.reminderfox-calendar-month-day-number-class[notMonth="true"] {
		color: red !important;
	}